extends ../layout

block content
    //- Header
    header(class='masthead bg-primary text-white text-center')
      div
        img(src="/images/profile-pic.png", alt="Yeap that's me.", srcset="")
        h1(class='text-uppercase mb-0')=title
        hr(class='star-light')
        h2(class='font-weight-light mb-0') Web Developer, C#, ASP.NET
    //- Portfolio
    section
    //- About
    section
    //- Contact
    section

    //-script(src="/scripts/app/index/index.js")
