extends ../layout

block content
    //- Header
    header(class='masthead bg-primary text-white text-center')
      div
        img(src="/images/profile-pic.png", alt="Yeap that's me.", srcset="" class='image-width-100')
        h1(class='text-uppercase mb-0')=title
        hr(class='star-light')
        h2(class='font-weight-light mb-0') Web Developer, Programmer, Cryptocurrency Enthusiast
    //- Portfolio
    //- section(class='portfolio', id='portfolio')
    //- About
    //- section(class='bg-primary text-white mb-0', id='about')
    //- Contact
    //- section(class='', id='contact')

    //- About
    section(class='about', id='about')
        div(class='container')
            h2(class='text-center text-uppercase text-secondary mb-0') About
            hr(class='star-dark mb-5')
            div(class='row')
                div(class='col-lg-12')
                    p(class='lead') 
                        | I am programmer with experience developing web applications in ASP.NET.
                        | I have experience in programming with a few languages such as C, Java and C#.
                        | I am well versed in utilizing Html, CSS and Javascript to develop front ends for websites.
                        | I programmed phone applications using Ionic.
                    br
                    p(class='lead')
                        | I plan to do some smart contract programming, particularly on blockchains such as Nebulas and Neo.
                        | I am also interested to learn other methods of creating phone applications, such as Xamarin and Flutter.
                        | If my github looks empty, well, give me some time to fill it up.
                        
                            
                

    //-script(src="/scripts/app/index/index.js")
