extends ../layout

block content
    //- Header
    header(class='masthead bg-primary text-white text-center')
      div
        img(src="/images/profile-pic.png", alt="Yeap that's me.", srcset="")
        h1(class='text-uppercase mb-0')=title
        hr(class='star-light')
        h2(class='font-weight-light mb-0') Web Developer, C#, ASP.NET
    //- Portfolio
    section(class='portfolio', id='portfolio')
    //- About
    section(class='bg-primary text-white mb-0', id='about')
    //- Contact
    section(class='', id='contact')

    //-script(src="/scripts/app/index/index.js")
